header{
    margin: 0;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 80px;
    background-color:#4d148c;
    display: flex;
    justify-content:center;
 position: fixed;
}
body{
    margin:0;
    padding: 0;
}
.firstone img{
    padding-top: 15px;
 height: 50px;
 width: 50px;
 margin-right: 320px;
}
.second a{
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
    cursor: pointer;

}
.second:hover{
    background-color: rgb(24, 36, 47);
    width:80px ;
    height: 30px;
}
.second{
    margin-top: 20px;
    margin-right: 100px; 
    
}
.thrid a{
    text-decoration: none;
    font-size:20px ;
    color: antiquewhite;
}
.thrid{
    margin-right: 60px; 
    margin-top: 20px;

}
.thrid:hover{
    background-color: rgb(24, 36, 47);
    width:80px ;
    height: 30px;
}
.fourth a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}
.fourth{
    margin-right: 90px; 
    margin-top: 20px;
  
}
.fourth:hover{
    background-color: rgb(22, 23, 24);
    width:80px ;
    height: 30px;}
.fifth a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}
.fifth{
    margin-top: 20px;
    margin-right: 60px; 

}
.fifth:hover{
    background-color: rgb(24, 36, 47);
    width:80px ;
    height: 30px;
}
.signup a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
}
.signup{
    margin-top: 20px;
}
.signup:hover{
    background-color: rgb(24, 36, 47);
    width:80px ;
    height: 100px;
}
.sixth h1{
    position: relative;
    top: 158px;
    left: 204px;
    color: #fff;
    font-size: 34px;
    font-family: sans-serif;
 
}
.sixth p{
    position: absolute;
    top: 27%;
    color: white;
    font-size: 28px;
    line-height: 33px;
    margin-left: 191px;
}
.poster1 img{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 450px;
    margin-top: 72px;
    background-repeat: no-repeat;
    background-size: cover;

}
.seven p{
    position: absolute;
    top: 77%;
    margin-left: 338px;
    font-weight: 400;
    font-size: 26px;
    color: #333;
    
}
.eight button{
    position: absolute;
    top: 100%;
    background-color: #ff6200;
    width: 286px;
    height: 92px;
    margin-left: 592px;
    color: white;
    font-size: 17px;
    border-color: #ff6200;
}
.eight button:hover{
    width: 295px;
    height: 100px;
    transition: ease;
}
.eight h1{
    position: absolute;
    top: 123%;
    color:#333;
    margin-left: 544px;
    font-weight: 400;
    font-size: 29px;
}

.nine img{
    width: 100px;
    margin-top: 1000px;
    height: 65px;
    margin-left: 192px;

}
.logoimg{
    width: 100px;
    
}
.nine h2{
    margin-top: 9px;

    color: #333;
    font-family: "Roboto";
}
.nine p{
    color: rgb(20, 11, 0);
    font-size: 15px;
    
}
.one{
    width:100px;
    height:50px;
}
.one h1{
    font-size: 25px;
    color: #333;
}
.two h1{
    font-size: 25px;
    color: #333;
}
.three h1{
    font-size: 25px;
    color: #333;
}
.four h1{
    font-size: 25px;
    color: #333;
}
.five h1{
    font-size: 25px;
    color: #333;
}
.six h1{
    font-size: 25px;
    color: #333;
}
.two{
    width: 100px;
    margin-bottom: -33px
}
.three{
      width:100px;
        height:50px;
    } 

.four{
    width:100px;
    height:50px;
}
.five{
    width:100px;
    height:50px;
}
.six{
    width:100px;
    height:50px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1000px;
    margin-left: 322px;
    width:60%;
    color: #333;
}
.container2  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60%;
    margin-left: 368px;
    margin-top: 150px;
}
.final1 ul  li {
    
    list-style: none;
}
.final1 a{
    text-decoration: none;
    cursor: pointer;
}
.final2 ul li{
    list-style: none;
}
.final2 a{
    text-decoration: none;
}
.final3 ul li{
    list-style: none;
}
.final3 a{
    text-decoration: none;
}
.final4 ul li{
    list-style: none;
}
.final4 a{
    text-decoration: none;
  }
  .final1{
    line-height: 25px;
    font-size: 14px
  }
  #last1,#last2,#last3,#last4,#last5{
    margin-bottom: 20px;
    font-size: 16px;
    color: #4d148c;
  }
  .final3{
    line-height: 26px;
  }
  .final2{
    line-height: 26px;
    font-size: 13px;
  }
  .fnal5{
    line-height: 26px;
    font-size: 13px;
}
select{
    width: 177px;
    height: 46px;
    border-color;
}

.final1 a:hover{
    background-color: grey;
    
}
.final2 a:hover{
    background-color: grey;

}
.final3 a:hover{
    background-color: grey;
}
.final4 a:hover{
    background-color: grey;
}
#suji{
    position: relative;
    bottom: 46px;
    width: 84px;
}
.finalpart img{
    width: 23px;
    margin-left: -6px;
    position: relative;
    bottom: 54px;
}
.finalpart{
    margin-left: 343px;
}
.finalpart p{
    position: relative;
    right: 99px;
    font-size: 13px;
    width: 111px;
}
footer p{
    margin-top: 42px;
    color: #fff;
}
footer a{
    text-decoration: none;
    margin-top: 40px;
    color: #fff;
    font-size: 14px;
    margin-right: 25px;
}
footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #4d148c;
}
.search img{
    width: 20px;
    margin-left: 4px;
    margin-top: 22px;
}